[package]
name = "tinyjs"
version = "0.1.0"
edition = "2024"

[dependencies]

[lib]
name = "tinyjs"
crate-type = ["rlib", "staticlib"]

[profile.release]
opt-level = "s"
lto = true
codegen-units = 1
panic = "abort"
strip = "symbols"
